<p>Bonjour <strong>{{ customer_name }}</strong>,</p>

<p>
  Votre rendez-vous du <strong>{{ date }}</strong> à <strong>{{ time }}</strong> a bien été annulé.
</p>

<p>Référence annulée : <strong>{{ reference }}</strong></p>

<p>
  Pour prendre un nouveau rendez-vous :
  <a href="/prendre-un-rendez-vous">cliquez ici</a>.
</p>

<p>Cordialement,<br>L'équipe de gestion des rendez-vous</p>
